html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #161616;
  font-size: 4rem;
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  font-size: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: top;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.box {
  margin-left: 2rem;
  margin-right: 2rem;
  flex: 1;
  background-color: #242621;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  transition: transform 0.7s;
}

.image {
  position: relative;
  overflow: hidden;
  width: 100%;
}
img {
  width: 100%;
  max-height: fit-content;
  transition: transform 1.7s;
}
.box:hover img {
  transform: scale(1.1);
}
.shadow {
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 1s;
}
.number {
  position: absolute;
  padding: 1rem 1rem;
  font-size: 2.75rem;
  color: orange;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 1.5rem black;
}
.button {
  padding: 1rem 3rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #6b7aa1;
  border: none;
  align-items: center;
}
.button:hover {
  background-color: #5a6581;
}
.shadow {
  align-items: center;
}
.shadow:hover {
  opacity: 1;
}

.playbutton {
  width: 30%;
  transition: transform 0.5s;
}
.shadow .playbutton:hover {
  transform: scale(1.3);
}
.title {
  font-size: 2rem;
  color: white;
  padding-top: 1.7rem;
}
.box:hover {
  transform: scale(1.09);
}
p {
  font-size: 1.6rem;
  color: white;
  font-style: italic;
  padding-top: 0.5rem;
}
.description {
  font-size: 1.5rem;
  color: white;
  padding-top: 1rem;
  font-style: normal;
}
.rating {
  direction: rtl;
  color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rating > span {
  display: inline-block;
  flex-direction: row;
  position: relative;
  width: 2rem;
  font-size: 2.5rem;
  padding-top: 1.5rem;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: orange;
}
@media screen and (max-width: 1800px) {
  .description {
    height: 10rem;
  }
}
@media screen and (max-width: 1080px) {
  .title {
    font-size: 2rem;
  }
  .description {
    height: 10rem;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.3rem;
  }
  .number {
    font-size: 2.5rem;
  }
  .box {
    margin: 1rem;
    margin-top: 2rem;
    padding: 2.7rem;
  }
  .row {
    margin: 0;
  }
  .button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 860px) {
  .description {
    height: 13rem;
  }
  .title {
    font-size: 1.7rem;
  }
  .box {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.5rem;
    height: 16rem;
  }
  p {
    font-size: 1.4rem;
  }

  .number {
    font-size: 2.5rem;
  }
  .box {
    margin: 1rem;
    margin-top: 2rem;
    padding: 2.7rem;
  }
  .row {
    margin: 0;
  }
  .button {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 680px) {
  .title {
    height: 5vh;
  }
  .description {
    height: 12vh;
    font-size: 1.3rem;
  }
  .box {
    padding: 1.3rem;
  }
}
@media screen and (max-width: 540px) {
  .title {
    font-size: 1.1rem;
  }
  .description {
    font-size: 1rem;
    padding-top: 0.7rem;
  }
  p {
    font-size: 1rem;
  }

  .number {
    font-size: 2rem;
  }
  .box {
    margin: 1rem;
    margin-top: 2rem;
    padding: 1.7rem;
  }
  .row {
    margin: 0;
  }
  .button {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 1.5rem;
  }
  .number {
    font-size: 1.7rem;
  }
  .box {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 2.5rem;
  }
  .button {
    font-size: 1.3rem;
  }
  .description {
    font-size: 1.2rem;
    height: auto;
  }
  p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 390px) {
  .title {
    font-size: 1.3rem;
    height: auto;
  }
  .number {
    font-size: 2rem;
  }
  .box {
    margin: 0.6rem;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1rem;
  }
  .button {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 380px) {
  .title {
    font-size: 1.4rem;
  }
  .number {
    font-size: 1.5rem;
  }
  .box {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 2rem;
  }
  .button {
    font-size: 0.9rem;
  }
  .description {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 280px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .number {
    font-size: 2.7rem;
  }
  .button {
    font-size: 1.5rem;
  }
}
