body {
  background-color: #c9ada7;
  font-family: "Bad Script", cursive;
}
.content {
  content: "";
  display: table;
  clear: both;
}
.title {
  text-align: center;
  font-size: 10rem;
  margin-top: 3rem;
}
.row {
  font-size: 8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

html,
body * {
  box-sizing: border-box;
  padding: 4;
  margin: 0;
  font-size: 62.5%;
}

.blogposts {
  background-color: white;
  margin-bottom: 6rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 1.5rem 1.5rem grey;
  transition: all 0.3s;
}
.blogposts:hover {
  transform: scale(1.09);
}
.price {
  text-align: center;
  font-size: 4rem;
}

img {
  border-radius: 2rem;
  width: 100%;
}
h3 {
  text-align: center;
  padding: 2rem;
}
